@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    font-family: 'Roboto', Courier, monospace;
    color: #404040;
    font-weight: 400;
    font-size: 14px;
}

h1 {
    font-family: 'Dancing Script';
    font-weight: 500;
    font-size: 4vw;
}

h2 {
    font-weight: 800;
    font-size: 24px;
    margin: 4px 0px;
}

p {
    font-weight: 400;
    font-size: 0.85vw;
}

nav {
    display: none;
}

.content {
    display: flex;
    height: 100vh;
    width: 80%;
    min-width: 1024px;
    margin: auto;
    padding: 30px;
}

.left-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.camera-render {
    background-color: green;
    width: 90%;
    height: 50%;
}

.logs {
    background-color: red;
    width: 90%;
    height: 50%;
}


.dashboard {
    width: 50%;
    padding: 0 30px;
}

.top-view {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    width: 50%;
    display: flex;
    align-items: center;
}

.displ {
    display: flex;
    width: 47%;
    justify-content: space-between;
}

.left-displ {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    width: 45%;
}

.stats {
    max-height: 60px;
    height: 100%;
    max-width: 140px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stat-label {
    margin-left: 5%;
}

.stats span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8vw;
    color: #FFFFFF;

    width: 42px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.stats p {
    width: 100%;
    font-weight: 500;
}

.week-stats {
    background: #D6FFD5;
    border-radius: 12px;
    margin: 0 0 8px 0;
}

.week-stats span {
    background-image: url(../imgs/svg/week-form.svg);
    background-repeat: no-repeat;
}

.day-stats {
    background: #FFF4D7;
    border-radius: 12px;
}

.day-stats span {
    background-image: url(../imgs/svg/day-form.svg);
    background-repeat: no-repeat;
}

.open-button {
    max-height: 140px;
    height: 100%;
    max-width: 140px;
    width: 45%;
    background: #EEDDFF;
    border-radius: 12px;
    padding: 13px;
    transition: ease-out 0.8s;
    cursor: pointer;
}

.open-button:hover {
    background: #e2c9fc;
    transition: ease-in 0.2s;
}

.user-action {
    display: flex;
    margin: 30px 0;
}

.user-btn {
    width: 300px;
    min-height: 125px;
    height: auto;
    border-radius: 12px;
    padding: 11px;
    cursor: pointer;
    transition: ease-out 0.8s;
}

.del-user {
    background-color: #FFE6E6;
}

.del-user:hover {
    background-color: #ffd9d9;
    transition: ease-in 0.2s;
}

.add-user {
    background-color: #E9ECFF;
    margin-right: 30px;
}

.add-user:hover {
    background-color: #dce1ff;
    transition: ease-in 0.2s;
}

.user-list {
    width: 100%;
}

tr {
    height: 45px;
    border-radius: 14px;
}

th {
    width: 140px;
    font-weight: 600;
    font-size: 1vw;
    vertical-align: middle;
    padding: 0 20px;
}

td {
    font-weight: 300;
    font-size: 1vw;
    vertical-align: middle;
    padding: 0 20px;
    height: 45px;
    max-height: 45px;
}

td img {
    height: 45%;
}

.table-img {
    display: flex;
    align-items: center;
}

tr th:first-child,
tr td:first-child {
    border-radius: 12px 0 0 12px;
}

tr th:last-child,
tr td:last-child {
    border-radius: 0 12px 12px 0;
    width: 20%;
}

table tr:nth-child(2n+1) {
    background: rgba(139, 198, 223, 0.25);
}

.nClick {
    transform: rotateZ(0deg)
}

.clicked {
    transform: rotateZ(180deg)
}

.arrow-ico {
    transition: ease-in 0.8s;
}

.table-ico {
    cursor: pointer;
    transition: ease-out 0.8s;
}

.table-ico:hover {
    filter: contrast(0.85);
    transition: ease-in 0.2s;
}

@media screen and (max-width:1024px) and (min-width:500px) {

    html {
        font-size: 10px;
    }

    h1 {
        font-weight: 600;
        font-size: 2rem;
        padding-left: 2%;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    nav {
        display: flex;
        margin: 10px auto;
        align-items: center;
        justify-content: space-between;
    }

    nav img {
        margin-right: 3%;
        cursor: pointer;
    }

    .title {
        display: none;
    }

    .displ {
        width: 100%;
    }

    .open-button {
        width: 300px;
        max-width: none;
    }

    .open-button p {
        font-size: 1.4rem;
    }

    .user-btn p {
        font-size: 1.4rem;
    }

    .left-displ {
        width: 300px;
        max-width: none;
        margin-right: 30px;
    }

    .left-side {
        display: none;
    }

    .stats {
        width: 100%;
        max-width: none;
    }

    .stat-label {
        font-size: 1.3rem;
    }

    .stats span {
        font-size: 2rem;
    }

    .dashboard {
        margin: 0 auto;
        width: 50%;
        min-width: 500px;
        max-width: 1024px;
        padding: 0 20px;
    }

    .content {
        width: 100vw;
        box-sizing: border-box;
        min-width: 0px;
        height: auto;
        padding: 0vh 0vw;
        flex-direction: column;
    }

    td,
    th {
        font-size: 1.3rem;
    }

}

@media screen and (max-width:500px) {

    html {
        font-size: 10px;
    }

    .title {
        display: none;
    }

    h1 {
        font-weight: 600;
        font-size: 2rem;
        padding-left: 2%;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    nav {
        display: flex;
        margin: 10px auto;
        align-items: center;
        justify-content: space-between;
    }

    nav img {
        margin-right: 3%;
        cursor: pointer;
    }

    .left-side {
        display: none;
    }

    .dashboard {
        margin: 0 auto;
        width: 100%;
        padding: 5vw;
    }

    .content {
        width: 100vw;
        box-sizing: border-box;
        min-width: 0px;
        height: auto;
        padding: 0vh 0vw;
        flex-direction: column;
    }

    td,
    th {
        font-size: 1.4rem;
        width: 20%;
        box-sizing: border-box;
        padding: 0 0 0 3vw;
    }

    tr th:last-child,
    tr td:last-child {
        border-radius: 0 12px 12px 0;
        box-sizing: border-box;
        padding: 0 0 0 3vw;
    }

    .displ {
        width: 100%;
    }

    .left-displ {
        width: 50%;
        max-width: none;
    }

    .stats {
        width: 97%;
        max-width: none;
    }

    .stats p {
        font-size: 1.3rem;
    }

    .stats span {
        font-size: 1.6rem;
    }

    .open-button {
        width: 50%;
        max-width: none;
    }

    .open-button h2 {
        font-size: 2.5rem;
        display: inline;
        position: relative;
        bottom: 8px;
        padding-left: 3%;
    }

    .open-label {
        margin: 10px 0;
        font-size: 1.6rem;
    }

    .user-action {
        display: flex;
        margin: 20px 0 0 0;
        flex-direction: column;
        align-items: center;
    }

    .user-btn {
        width: 100%;
        height: 100px;
        min-height: none;
        margin: 20px 0;
    }

    .user-btn h2 {
        font-size: 2.2rem;
        display: inline;
        position: relative;
        bottom: 8px;
        padding-left: 3%;
    }

    .user-btn p {
        margin: 10px 0;
        font-size: 1.6rem;
    }

    .add-user {
        margin: 0;
    }

    .users-list {
        min-width: none;
        width: 100%;
    }

    table,
    tr {
        width: 100%;
    }
}